<div class='row' id="show-<%=fabric.id%>">
  <div class='col-xs-12'>
    <table class='table table-striped'>
      <colgroup>
        <col class='col-xs-3'>
        <col class='col-xs-9'>
      </colgroup>
      <% if admin? %>
        <tr>
          <td>Controls</td>
          <td>
            <span><%= link_to "Edit Fabric", edit_fabric_path(fabric), :class => 'edit-fabric', remote: true %></span>
            <span><%= link_to "Re-Crop", '#', :class => 'recrop-image', :onClick => "prepareToCrop('#{fabric.id}', '#{fabric.original_image.url(:original)}')" %></span>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Design</strong></td>
        <td class='text-uppercase'><strong>#<%= fabric.code %><strong></td>
      </tr>
      <tr><td>Quantity</td><td><%= fabric.quantity %> mts</td></tr>
      <tr><td>Width</td><td><%= fabric.width %>"</td></tr>
      <tr><td>Tags</td><td><%= fabric.tag_list %></td></tr>
    </table>
  </div>
</div>
