<% if @fabric.errors.any? %>
  <% @fabric.errors.full_messages.each do |message| %>
    $('#edit-<%=@fabric.id%> .alert').append("<li class='alert-danger'><%= message.html_safe %></li>")
  <% end %>
<% else %>
  $('#edit-<%= @fabric.id %>').remove();
  $('#modal-<%= @fabric.id %>').append("<%= escape_javascript(render 'show', fabric: @fabric) %>")
  $('#big_<%= @fabric.id %>').attr('src', '<%= @fabric.image.url(:big) %>')
  $('.owl-carousel').data('refresh-page', 'true')
  <% if params[:fabric].key?(:original_image) %>
    mixpanel.track('Image updated', { code: '<%= @fabric.code %>' })
  <% end %>
<% end %>
