<div class="modal" id="fabric-modal" tabindex="-1" role="dialog" aria-labelledby="fabric-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class='owl-carousel'>
          <% @fabrics.each do |fabric| %>
            <div id='modal-<%= fabric.id %>'>
              <div class='thumbnail'>
                <img class='lazyOwl' data-src='<%= fabric.image.url(:big) %>', id='big_<%=fabric.id%>'>
              </div>
              <%= render 'fabrics/show', :fabric => fabric %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://feather.aviary.com/imaging/v1/editor.js"></script>
<%= javascript_tag do %>
  $('.owl-carousel').owlCarousel({
    singleItem: true,
    navigation: true,
    navigationText: [
      "<i class='glyphicon glyphicon-chevron-left'></i>",
      "<i class='glyphicon glyphicon-chevron-right'></i>"
    ],
    lazyLoad: true,
    autoHeight: false
  });

  $('#fabric-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var index = button.data('index')
    var owl = $('.owl-carousel').data('owlCarousel');
    owl.goTo(index);

    var code = button.data('code');
    mixpanel.track('Image Enlarged', {code: code});
  });

  $('#fabric-modal').keyup(function(event) {
    var owl = $('.owl-carousel').data('owlCarousel');
    if (event.keyCode == 37) {
      owl.prev();
    }
    if (event.keyCode == 39) {
      owl.next();
    }
  });

  var featherEditor = new Aviary.Feather({
    apiKey: '265cb1f334822be2',
    tools: ['brightness', 'contrast', 'saturation', 'sharpness'],
    onSaveButtonClicked: function(){
      dimensions = featherEditor.getImageDimensions();
      if (dimensions.width < 600 || dimensions.height < 500) {
        alert('Width has to be greater than 600px and height greater than 500px');
        featherEditor.close();
        return false;
      }
    },
    onSave: function(imageID, newURL) {
      var ajaxUrl = "/fabrics/" +imageID+ "/crop";
      $('#big_'+imageID).attr('src', newURL);

      // Make an ajax call and provide the new image URL.
      $.ajax({
        type: "POST",
        url: ajaxUrl,
        data: { 'new_image': newURL },
        dataType: 'json',
        success: function(data) {
        }
      });
      featherEditor.close();
      $("#"+imageID).remove();
    },
    onError: function(errObj) {
      console.log(errObj.message);
    }
  });

  function launchEditor(id, src) {
    featherEditor.launch({
      image: id,
      url: src,
      fileFormat: 'jpg',
      displayImageSize: true,
      forceCropPreset: ['600px Wide', '6:5'],
      forceCropMessage: 'Please make sure the final image is AT LEAST 600px wide!'
    });
    return false;
  }

  function prepareToCrop(imgID, imgUrl) {
    $('#hidden-elements').append("<img id='" +imgID+ "' style='display:none;'>");
    $("#"+imgID)[0].crossOrigin = 'Anonymous';
    $("#"+imgID)[0].src = imgUrl;
    launchEditor(imgID, null);
  }
<% end %>
