<div class="modal" id="fabric-modal" tabindex="-1" role="dialog" aria-labelledby="fabric-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class='owl-carousel'>
          <% @fabrics.each do |fabric| %>
            <div>
              <div class='thumbnail'>
                <img class='lazyOwl' data-src='<%= fabric.image.url(:big) %>', id='big_<%=fabric.id%>'>
              </div>
              <div class='row'>
                <div class='col-xs-12'>
                  <table class='table table-striped'>
                    <colgroup>
                      <col style='width:120px;'>
                      <col>
                    </colgroup>
                    <% if admin? %>
                      <tr><td></td><td><%= link_to "Re-Crop Image", '#', :id => 'recrop-image', :onClick => "prepareToCrop('#{fabric.id}', '#{fabric.original_image.url(:original)}')" %></td></tr>
                    <% end %>
                    <tr><td>Direct Link</td><td><%= link_to fabric_url(fabric.id), fabric_path(fabric.id), :target => "_blank" %></td></tr>
                    <tr>
                      <td><strong>Design No.</strong></td>
                      <td class='text-uppercase'><strong>#<%= fabric.code %><strong></td>
                    </tr>
                    <tr><td>Quantity</td><td><%= fabric.quantity %> mts</td></tr>
                    <tr><td>Width</td><td><%= fabric.width %>"</td></tr>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://feather.aviary.com/imaging/v1/editor.js"></script>
<%= javascript_tag do %>
  $('.owl-carousel').owlCarousel({
    singleItem: true,
    navigation: true,
    navigationText: [
      "<i class='glyphicon glyphicon-chevron-left'></i>",
      "<i class='glyphicon glyphicon-chevron-right'></i>"
    ],
    lazyLoad: true,
    autoHeight: false
  });

  $('#fabric-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var index = button.data('index')
    var owl = $('.owl-carousel').data('owlCarousel');
    owl.goTo(index);

    var code = button.data('code');
    mixpanel.track('Image Enlarged', {code: code});
  });

  $('#fabric-modal').keyup(function(event) {
    var owl = $('.owl-carousel').data('owlCarousel');
    if (event.keyCode == 37) {
      owl.prev();
    }
    if (event.keyCode == 39) {
      owl.next();
    }
  });

  var featherEditor = new Aviary.Feather({
    apiKey: '265cb1f334822be2',
    tools: ['brightness', 'contrast', 'saturation', 'sharpness'],
    onSaveButtonClicked: function(){
      dimensions = featherEditor.getImageDimensions();
      if (dimensions.width < 600 || dimensions.height < 500) {
        alert('Width has to be greater than 600px and height greater than 500px');
        featherEditor.close();
        return false;
      }
    },
    onSave: function(imageID, newURL) {
      var ajaxUrl = "/fabrics/" +imageID+ "/crop";
      $('#big_'+imageID).attr('src', newURL);

      // Make an ajax call and provide the new image URL.
      $.ajax({
        type: "POST",
        url: ajaxUrl,
        data: { 'new_image': newURL },
        dataType: 'json',
        success: function(data) {
        }
      });
      featherEditor.close();
      $("#"+imageID).remove();
    },
    onError: function(errObj) {
      console.log(errObj.message);
    }
  });

  function launchEditor(id, src) {
    featherEditor.launch({
      image: id,
      url: src,
      fileFormat: 'jpg',
      displayImageSize: true,
      forceCropPreset: ['600px Wide', '6:5'],
      forceCropMessage: 'Please make sure the final image is AT LEAST 600px wide!'
    });
    return false;
  }

  function prepareToCrop(imgID, imgUrl) {
    $('#hidden-elements').append("<img id='" +imgID+ "' style='display:none;'>");
    $("#"+imgID)[0].crossOrigin = 'Anonymous';
    $("#"+imgID)[0].src = imgUrl;
    launchEditor(imgID, null);
  }
<% end %>
