<% if @search %>
  <div class="row search-bar">
    <div class="col-xs-6">
      <a href='<%= root_path %>' class='btn btn-default' style='color: #555'>
        <span class='glyphicon glyphicon-arrow-left'></span>
        Go Back
      </a>
    </div>
    <div class="col-xs-6">
      <a href='<%= "whatsapp://send?text=" + CGI::escape(request.original_url) %>' class='btn btn-default' style='color: #555'>
        <span class='glyphicon'></span>
        Share to Whatsapp
      </a>
    </div>
  </div>
<% end %>

<div class="row search-bar">
  <%= form_tag({:controller => 'home', :action => 'index'}, {:method => 'get'}) %>
    <div class="col-md-offset-3 col-md-5 col-xs-6">
      <div class="form-group">
        <%= text_field_tag :search, params[:search],
          :id => 'search_field',
          :class => 'form-control',
          :placeholder => 'Search for...' %>
      </div>
    </div>
    <div class="col-md-4 col-xs-6">
      <%= submit_tag "Search", :id => 'search_button', :class => 'btn btn-default', :name => nil %>
    </div>
  <% form_tag %>
</div>

<%= javascript_tag do %>
  $('#search_button').click(function(){
    var search_term = $('#search_field').val();
    mixpanel.track('Searched', {value: search_term});
  });
<% end %>
