<div class="fabric-thumbnails">
  <%= render 'search' %>
  <div class="row">
    <div class="col-md-4">
      <%= paginate @fabrics %>
    </div>
  </div>
  <div class="row">
    <% @fabrics.each do |fabric| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail box-shadow">
          <a href="#">
            <% img = fabric.image.nil? ? 'http://fakeimg.pl/300x250/' : fabric.image.url(:thumbnail) %>
            <%= image_tag img, :class => 'card-thumbnail' %>
          </a>
          <div class="row card-info">
            <div class="col-xs-6">
              <strong><span class="text-uppercase text-nowrap small">#<%=fabric.code%></span></strong>
            </div>
            <div class="col-xs-6 text-right">
              <span class="text-nowrap"><%=fabric.quantity%> Mts</span>
            </div>
          </div>
          <div class="row card-info">
            <div class="col-xs-6">
              <%=fabric.width %>"
            </div>
            <div class="col-xs-6 text-right">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= paginate @fabrics %>
    </div>
  </div>
</div>
