<div class="fabric-thumbnails">
  <div class="row">
    <% @fabrics.each do |fabric| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail box-shadow">
          <a href="#">
            <% img = fabric.image.nil? ? 'http://fakeimg.pl/300x250/' : fabric.image.url(:thumbnail) %>
            <%= image_tag img %>
          </a>
          <div class="row">
            <div class="col-xs-6 card-info">
              #<%=fabric.code%>
            </div>
            <div class="col-xs-6 card-info text-right">
              <%=fabric.quantity%> Mts
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <%=fabric.width %>"
            </div>
            <div class="col-xs-6 text-right">
              Powerloom
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @fabrics %>
  </div>
</div>
