<%= render 'delete_confirmation' %>
<%= render 'fabric_carousel' %>
<%= render 'hidden_elements' %>
<% content_for :head do %>
  <meta property="og:image" content="<%= meta_tag_image %>">
<% end %>

<div class="fabric-thumbnails">
  <%= render 'search' %>
  <div class="row">
    <div class="col-xs-12">
      <%= paginate @fabrics %>
    </div>
  </div>
  <div class="row">
    <% @fabrics.each_with_index do |fabric, index| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail box-shadow">
          <a href="#" data-toggle='modal' data-target='#fabric-modal' data-index='<%= index %>' data-code='<%= fabric.code %>'>
            <% img = fabric.image.nil? ? 'http://fakeimg.pl/300x250/' : fabric.image.url(:thumbnail) %>
            <%= image_tag img, :class => 'card-thumbnail' %>
          </a>
          <div class="row card-info">
            <div class="col-xs-6">
              <strong><span class="text-uppercase text-nowrap small">#<%=fabric.code%></span></strong>
            </div>
            <div class="col-xs-6 text-right">
              <span class="text-nowrap"><%=fabric.quantity%> Mts</span>
            </div>
          </div>
          <div class="row card-info">
            <div class="col-xs-6">
              <%=fabric.width %>"
            </div>
            <div class="col-xs-6 text-right">
              <% if admin? %>
                <%= link_to '',
                  '#',
                  :style => 'text-decoration: none; color: maroon',
                  :data => {toggle: 'modal', target: '.delete-modal', url: fabric_path(fabric.id), code: fabric.code },
                  :class => 'glyphicon glyphicon-trash'
                %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= paginate @fabrics %>
    </div>
  </div>
</div>

