<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Checks 'n' Stripes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/tracking'%>
</head>
<body>
  <%= render 'layouts/header'%>
  <%= render 'layouts/flash_messages'%>
  <div id="main-container" class="container">
    <%= yield %>
  </div>
</body>
</html>
